<div content>
    <form [formGroup]="myForm" (ngSubmit)="saveSettings(myForm.value)">
        <div *ngFor="let tag of myForm.value.list; let i = index" class="property-box">
            <div [formGroupName]="myForm.value.list[i]">
                <h3>{{myForm.value[myForm.value.list[i]].label}}</h3>
                <label>
                    betrachten:
                    <input type="checkbox" formControlName="use">
                </label>
                <label *ngIf="myForm.value[myForm.value.list[i]].use">
                    blockieren:
                    <input type="checkbox" formControlName="block">
                </label>
                <label *ngIf="myForm.value[myForm.value.list[i]].use && !myForm.value[myForm.value.list[i]].block">
                    bewerten:
                    <input type="number" formControlName="rating">
                </label>
            </div>
        </div>
        <div id="property-box">
            <label>
                <button type="submit">Submit</button>
            </label>
        </div>
    </form>
</div>


<!--<div class="container">
  <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">
    <div class="form-group">
      <label for="">Name</label>
      <input type="text" class="form-control" formControlName="name">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>-->