<div content>
    <form [formGroup]="myForm" (ngSubmit)="saveSettings()">
        <div *ngFor="let tag of myForm.value.list; let i = index" class="property-box">
            <div [formGroupName]="myForm.value.list[i]">
                <h3>{{myForm.value[myForm.value.list[i]].title}}</h3>
                <label>
                    betrachten:
                    <input type="checkbox" formControlName="use">
                </label>
                <label *ngIf="myForm.value[myForm.value.list[i]].use">
                    blockieren:
                    <input type="checkbox" formControlName="block">
                </label>
                <label *ngIf="myForm.value[myForm.value.list[i]].use && !myForm.value[myForm.value.list[i]].block">
                    bewerten:
                    <input type="number" step="0.1" min="0" formControlName="rating">
                </label>
            </div>
        </div>
        <div id="property-box">
            <label>
                <button type="submit">Submit</button>
            </label>
        </div>
    </form>
</div>