<!--<button class="secondary min" id="compass">
  <div class="hover-field"></div>
  <img src="../../assets/img/compass.svg">
</button>-->

<!--<button class="secondary" id="secondary">
  <div class="hover-field"></div>
  <i>my_location</i>
</button>-->
<!---->

<!--<button class="primary">
  <div class="hover-field"></div>
  <i>navigation</i>
</button>-->


<!--<button class="secondary">
  <div class="hover-field"></div>
  <i>navigation</i>
</button>-->

<button map-button class="primary" id="primary" [icon]="'map'"></button>


<!--<button class="primary">
  <div class="hover-field"></div>
  <i>map</i>
</button>
<button class="secondary">
  <div class="hover-field"></div>
  <i>map</i>
</button>-->

<!--<button class="primary">
  <div class="hover-field"></div>
  <i>clear</i>
</button>
<button class="secondary">
  <div class="hover-field"></div>
  <i>clear</i>
</button>-->

<!--<button class="primary">
  <div class="hover-field"></div>
  <i>settings</i>
</button>
<button class="secondary">
  <div class="hover-field"></div>
  <i>settings</i>
</button>-->

<!--<button class="primary">
  <div class="hover-field"></div>
  <i>arrow_back</i>
</button>
<button class="secondary">
  <div class="hover-field"></div>
  <i>arrow_back</i>
</button>-->
<main>
    <!--<router-outlet></router-outlet>-->
    <div map></div>
</main>
<header map-navigation></header>