@import "./../../../styles.scss";
:host {
    font-family: 'Material Icons';
    position: relative;
    border: 0;
    padding: 16px;
    border-radius: 28px;
    font-size: 24px;
    box-shadow: $black-shaddow;
    overflow: hidden;
    cursor: pointer;
    &.min {
        padding: 8px;
        .hover-field {
            top: 20px;
            left: 20px;
            border-radius: 20px;
        }
        &:active .hover-field {
            animation-name: buttonMinHoverAnimation;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
        }
    }
    i {
        position: relative;
        font-style: normal;
        display: inline-block;
        width: 24px;
        text-align: center;
    }
    .hover-field {
        position: absolute;
        top: 28px;
        left: 28px;
        border-radius: 28px;
    }
    &.primary {
        background-color: $primary-color;
        color: $white-color;
        .hover-field {
            background-color: $dark-primary;
        }
    }
    &.secondary {
        background-color: $white-color;
        color: $grey-color;
        .hover-field {
            background-color: $light-grey;
        }
    }
    &:focus {
        outline: 0;
    }
    &:active .hover-field {
        animation-name: buttonHoverAnimation;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }
    img {
        height: 24px;
        width: 24px;
        transform: rotate(0deg);
    }
}

@keyframes buttonHoverAnimation {
    0% {
        height: 0;
        width: 0;
        margin-top: 0;
        margin-left: 0;
        opacity: 0;
    }
    30% {
        height: 56px;
        width: 56px;
        margin-top: -28px;
        margin-left: -28px;
        opacity: 1;
    }
    100% {
        height: 56px;
        width: 56px;
        margin-top: -28px;
        margin-left: -28px;
        opacity: 0;
    }
}

@keyframes buttonMinHoverAnimation {
    0% {
        height: 0;
        width: 0;
        margin-top: 0;
        margin-left: 0;
        opacity: 0;
    }
    30% {
        height: 40px;
        width: 40px;
        margin-top: -20px;
        margin-left: -20px;
        opacity: 1;
    }
    100% {
        height: 40px;
        width: 40px;
        margin-top: -20px;
        margin-left: -20px;
        opacity: 0;
    }
}