<div map></div>
<map-information-field #info></map-information-field>
<map-button class="primary" id="primary" (click)="route()">directions_bike</map-button>
<map-button class="secondary" id="secondary" (click)="locate()">my_location</map-button>
<map-button class="secondary min" id="topButton" (click)="rotate()">
    <img src="../../assets/img/compass.svg">
</map-button>
<div id="marker" (click)="info.toggle()">
    place
</div>
<map-settings class="{{navi.settingsVisible?'visible':'hidden'}}"></map-settings>
<map-status></map-status>
<header map-navigation #navi></header>